:root {
  --primary-blue: #3b82f6;
  --primary-red: #ef4444;
  --box-cursor-size: 80px;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

header > h2,
header li {
  text-transform: capitalize;
}

header > nav > ul {
  display: flex;
  gap: 2rem;
}

header h2,
#waldo {
  font-size: 2rem;
  color: var(--primary-blue);
}

#waldo {
  color: var(--primary-red);
}

header li a {
  padding: 1rem 1rem;
  background-color: var(--primary-red);
  border-radius: 0.4rem;
  text-decoration: none;
  color: #fff;
}

/* new game styles */

.newGamePage {
  padding: 4rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.newGamePage > h1 {
  color: var(--primary-blue);
  text-transform: capitalize;
  font-size: 2rem;
}

.newGamePage > .pictureContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;
}

.pictureContainer img {
  border-radius: 1rem;
  width: 100%;
}

/* game styles */
.gamePicture > img {
  width: 100%;
  display: block;
}

.boxCursor,
.innerBox {
  position: fixed;
  display: inline-block;
  width: var(--box-cursor-size);
  height: var(--box-cursor-size);
  left: 20px;
  right: 0;
  border-radius: 10%;
  border: 4px solid var(--primary-red);
  pointer-events: none;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.35);
}

.innerBox {
  border-style: dashed;
  border-color: var(--primary-blue);
}

.hidden {
  display: none;
}

/* high scores styles */
.highScoresPage {
  /* padding: 4rem; */
  /* width: 100%; */
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.highScoresPage > h1 {
  font-size: 2rem;
  color: var(--primary-blue);
}

.highScoresTable {
  padding: 2rem 4rem;
  width: 80%;
  max-width: 1100px;
  border-collapse: collapse;
  table-layout: fixed;
}

.highScoresTable td {
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.highScoresTable > thead {
  border-bottom: 1px solid black;
}

.highScoresTable > thead td {
  font-size: 1.5rem;
}

.highScoresTable > tbody {
}

.scoreRow {
  /* display: flex;
  justify-content: space-between;
  gap: 4rem; */
}

.scoreRow:nth-child(odd) {
  background-color: rgb(225, 225, 225);
}

.scoreRow > td {
  font-size: 1.25rem;
}

/* footer styles */
footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-blue);
  color: #fff;
  font-size: 1.2rem;
}

.characterPicker {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 0.2rem;
}

.characterPicker > p {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.characterPicker > p:hover {
  background-color: var(--primary-blue);
  color: #fff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  place-content: center center;
}

.modal {
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modal > p {
  font-size: 1.25rem;
}

.modal > form {
  display: flex;
  flex-direction: column;
}

.modal > form > label {
  font-size: 0.75rem;
}

.modal > form > input {
  padding: 0.5rem;
}

.modal .btnContainer {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}

.modal .btnContainer > button {
  padding: 0.25rem 0.5rem;
  border-radius: 1000px;
}
